.nav li {
    margin: 0px 20px;
}

.navbar>.container {
    max-width: 75%;
}
.font-fam {
    font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;
}

.contact {
    border:solid 1px;
    font-size: 16px;
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
}

.call-icon{
    /* phone-fill */
    width: 20px;
    height: 20px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    /* Vector */
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 12.5%;
    bottom: 12.5%;
    background: #1D2939;
}