@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@font-face {
    font-family: 'Inter', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
}

.img-thumbnail {
    border:none;
}

.main-heading {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.2;
    margin: 0 0 17px;
    white-space: pre-line;
}
.sub-heading {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    max-width: 500px;
    white-space: pre-line;
}
.card {
    width: 20rem;
    height: 22rem;
}
.card-body {
    display: flex;
    flex-direction: column;
}
.card-title {
    
  }